<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container">
    <h1>
      <% if(locals.heading){%>
        <%= heading %>
      <% } %>

    </h1>


    <form id="newPostForm" method="post" action="/remark/<%=complaint.complaint_id%>">
      <input type="text" name="title" value="<%=complaint.title%>" placeholder="Title" required readonly>
      <textarea name="description" placeholder="description" required rows="10" readonly><%= complaint.description %> </textarea>   
      <div>
        <input type="text" name="admin_text" value="" placeholder="Admin Remark TEXT" required>
        <label for="cars">Choose the status:</label>
        <select name="status" id="status" required>
          <option value="">None</option>
          <% status.forEach(element => { %>
            <option value="<%= element.status_id %>"><%= element.status_name %></option>
          <% })%>
        </select>
      </div>
      <button class="full-width" type="submit">
        Submit
      </button>
    </form>
        

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>
